/* .card-content {
  display: grid;
  border: 12px solid #043e78;
  background-color: #043e78;
  border-radius: 5px;
} */

.card-bun {
  display: grid;
  grid-template-areas:
    "image image"
    "header header"
    "team team-info"
    "note note"
    "note-info note-info"
    "status status-info"
    "type type-info"
    "repo repo-info"
    "time time-info"
    "website website-info"
    "des des"
    "des-info des-info";
  grid-column-gap: 5px;
  grid-row-gap: 5px;
}
#card-logo-title {
  height: 5vmin;
  padding: 10px;
  grid-area: image;
}
.card-header {
  grid-area: header;
  margin-top: 5px;
  margin-right: 5px;
  margin-left: 5px;
  border: 1.5px solid #fff;
  border-radius: 5px;
  /* border-top-right-radius: 5px; */
  font-size: 30px;
}
.card-team {
  grid-area: team;
  margin-left: 5px;
  border: 1.5px solid #fff;
  border-radius: 5px;
}
.card-team-info {
  grid-area: team-info;
  margin-right: 5px;
  border: 1.5px solid #fff;
  border-radius: 5px;
}
.card-status {
  grid-area: status;
  margin-left: 5px;
  border: 1.5px solid #fff;
  border-radius: 5px;
}
.card-status-info {
  grid-area: status-info;
  margin-right: 5px;
  border: 1.5px solid #fff;
  border-radius: 5px;
}
.card-type {
  grid-area: type;
  margin-left: 5px;
  border: 1.5px solid #fff;
  border-radius: 5px;
}
.card-type-info {
  grid-area: type-info;
  margin-right: 5px;
  border: 1.5px solid #fff;
  border-radius: 5px;
}
.card-repo {
  grid-area: repo;
  margin-left: 5px;
  border: 1.5px solid #fff;
  border-radius: 5px;
}
.card-repo-info {
  grid-area: repo-info;
  margin-left: 5px;
  border: 1.5px solid #fff;
  border-radius: 5px;
}
.card-time {
  grid-area: time;
  margin-left: 5px;
  border: 1.5px solid #fff;
  border-radius: 5px;
}
.card-time-info {
  grid-area: time-info;
  margin-right: 5px;
  border: 1.5px solid #fff;
  border-radius: 5px;
}
.card-website {
  grid-area: website;
  margin-left: 5px;
  border: 1.5px solid #fff;
  border-radius: 5px;
}
.card-website-info {
  grid-area: website-info;
  margin-right: 5px;
  border: 1.5px solid #fff;
  border-radius: 5px;
}
.card-note {
  grid-area: note;
  margin-right: 5px;
  margin-left: 5px;
  border: 1.5px solid #fff;
  border-radius: 5px;
}
.card-note-info {
  grid-area: note-info;
  margin-right: 5px;
  margin-left: 5px;
  border: 1.5px solid #fff;
  border-radius: 5px;
}
.card-des {
  grid-area: des;
  margin-right: 5px;
  margin-left: 5px;
  border: 1.5px solid #fff;
  border-radius: 5px;
}
.card-des-info {
  grid-area: des-info;
  margin-right: 5px;
  margin-left: 5px;
  border: 1.5px solid #fff;
  border-radius: 5px;
}
