@import "./components/styles/flip.css";
@import "./components/styles/cardStyles.css";
@import "./components//styles/scrollTip.css";
.App {
  text-align: center;
}

.App-logo {
  height: 60vmin;
  pointer-events: none;
  /* filter: invert(0%); */
  /* filter: drop-shadow(8px 8px 10px gray); */
}
#card-logo {
  height: 40vmin;
  pointer-events: none;
  /* filter: invert(100%); */
}
#card-logo-title {
  height: 5vmin;
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 10s linear;
  }
}

.App-header {
  background-color: whitesmoke;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.App-button {
  background-color: #282c34;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.App-link {
  color: #61dafb;
}
.projectList {
  /* float: left; */
  text-align: row;
  border: 12px solid #043e78;
  background-color: #043e78;
  border-radius: 5px;
  margin: auto;
  width: 50%;
  /* border: 3px solid green; */
  padding: 20px;
}
h3 {
  color: black;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
