@import "./components/styles/flip.css";
@import "./components/styles/cardStyles.css";
@import "./components/styles/dashboard.css";
@import "./components/styles/side-menu.css";
@import "./components/styles/header.css";

.App-logo {
  height: 60vmin;
  pointer-events: none;
  filter: invert(0%);
  filter: drop-shadow(8px 8px 10px gray);
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 10s linear;
  }
}

.projectList {
  text-align: row;
  border: 12px solid #043e78;
  background-color: #043e78;
  border-radius: 5px;
  margin: auto;
  width: 50%;
  padding: 20px;
}

h3 {
  color: black;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
