/* .App {
  text-align: center;
} */

/* .App-logo {
  height: 40vmin;
  pointer-events: none;
} */

/* @media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
} */

/* .App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
} */
/* .App-button {
  background-color: #282c34;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
} */
/* .App-link {
  color: #61dafb;
} */
/* .modal {
  width: 500px;
  background: whitesmoke;
  border: 1px solid #ccc;
  border-radius: 15px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  /* transition: 1.1s ease-out;
  box-shadow: -2rem 2rem 2rem rgba(black, 0.2); */
  /* filter: blur(0); */
  /* transform: scale(1); */
  /* opacity: 1; */
  /* visibility: visible; */
  /* color: black; */
/* }  */
/* .modal:hover { */
  /* box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2); */
/* } */
/* .block {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); /* this adds the "card" effect */
  /* padding: 16px; */
  /* text-align: center; */
  /* background-color: #f1f1f1; */
/* }  */
/* h2 { */
  /* border-bottom: 1px solid #ccc; */
  /* padding: 1rem; */
  /* margin: 0; */
/* } */
/* .content {
  padding: 1rem;
} */
/* .off {
  opacity: 0;
  visibility: hidden;
  filter: blur(8px);
  transform: scale(0.33);
  box-shadow: 1rem 0 0 rgba(black, 0.2);
} */
/* .actions {
  border-top: 1px solid #ccc;
  background: #eee;
  padding: 0.5rem 1rem; */
/* } */
/* button {
  border: 0;
  background: #78f89f;
  border-radius: 5px;
  padding: 0.5rem 1rem;
  font-size: 0.8rem;
  line-height: 1;
} */
/* @keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
